/* ===================================================
                        FOOTER
=================================================== */

.footer{

    background:linear-gradient(to bottom,#FFF8FA,#FFF5F8);

    padding:100px 0 35px;

    border-top:1px solid rgba(201,36,99,.08);

}

.footer h3{

    position:relative;

    padding-bottom:10px;

}

.footer h3::after{

    content:"";

    position:absolute;

    left:0;

    bottom:0;

    width:45px;

    height:3px;

    border-radius:20px;

    background:#C92463;

}

/* ===================================================
                    GRID
=================================================== */

.footer-grid{

    display:grid;

    grid-template-columns:1.5fr 1fr 1fr 1.2fr;

    gap:70px;

    padding-bottom:50px;

}

/* ===================================================
                    BRAND
=================================================== */

.footer-brand img{
    width:180px;
    transition:.4s ease;
}

.footer-brand img:hover{
    transform:scale(1.05);
}

.footer-brand p{

    color:#666;

    line-height:1.8;

    font-size:15px;

    max-width:320px;

}

/* ===================================================
                SOCIAL ICONS
=================================================== */

.footer-social{

    display:flex;

    gap:16px;

    margin-top:28px;

}

.footer-social a{

    width:44px;

    height:44px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#fff;

    color:#C92463;

    text-decoration:none;

    transition:.35s;

    box-shadow:0 8px 20px rgba(0,0,0,.05);

}

.footer-social a i{
    width:20px;
    height:20px;
    stroke-width:2;
}

.footer-social a:hover{

    transform:translateY(-5px);

    background:#C92463;

    color:#fff;

}

/* ===================================================
                    LINKS
=================================================== */

.footer-links h3,


.footer-links{

    display:flex;

    flex-direction:column;

    gap:16px;

}

.footer-links a{
    display:block;
    width:fit-content;
    margin-bottom:14px;
    color:#666;
    text-decoration:none;
    transition:.3s ease;
    position:relative;
}

.footer-links a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-3px;
    width:0;
    height:2px;
    background:#C92463;
    transition:.35s ease;
}

.footer-links a:hover{
    color:#C92463;
    transform:translateX(6px);
}

.footer-links a:hover::after{
    width:100%;
}

/* ===================================================
                    CONTACT
=================================================== */
.footer-contact a{
    display:flex;
    align-items:center;
    gap:12px;
}

.footer-contact i{
    width:18px;
    height:18px;
    color:#6b6b6b;
    flex-shrink:0;
}

.footer-contact a:hover i{
    color:#C92463;
}
/* ===================================================
                BOTTOM
=================================================== */

.footer-bottom{

    border-top:1px solid rgba(0,0,0,.08);

    margin-top:30px;

    padding-top:30px;

    text-align:center;

}

.footer-bottom p{

    color:#888;

    font-size:14px;

}

/*=========================================
            FOOTER EXTRA
=========================================*/

.footer-extra{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:35px 0;

    border-top:1px solid rgba(0,0,0,.08);

    margin-top:40px;

}

.footer-payment{

    display:flex;

    align-items:center;

    gap:20px;

}

.footer-payment span{

    font-weight:600;

    color:#444;

}

.payment-icons{

    display:flex;

    gap:15px;

}

.payment-icons img{
    height:18px;
    transition:.3s ease;
    cursor:pointer;
}

.payment-icons img:hover{
    transform:translateY(-4px) scale(1.08);
}

.footer-trust{

    display:flex;

    gap:35px;

}

.footer-trust div{

    display:flex;

    align-items:center;

    gap:10px;

    color:#555;

    font-weight:500;

}

.footer-trust svg{

    color:#C92463;

}

.footer-divider{
    border:0;
    border-top:1px solid rgba(0,0,0,.08);
    margin:35px 0;
}